<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reconhecimento de Números</title>
</head>
<body>
    <h1>Faça o upload da imagem de um número</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit" style="background-color: azure;">Analisar</button>
    </form>
    <p>Predição: {{ prediction }}</p>
</body>
</html>
